schema/xsd/direct.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Posten Norge AS

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<xs:schema version="1.0" targetNamespace="http://signering.posten.no/schema/v1" elementFormDefault="qualified"
           xmlns="http://signering.posten.no/schema/v1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd">

    <xs:include schemaLocation="common.xsd"/>

    <xs:complexType name="direct-signer">
        <xs:sequence>
            <xs:choice minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        A reference to one of possibly several signers of the job.
                        This is used to identify the particular signer of the associated job
                        later in the process.
                    </xs:documentation>
                </xs:annotation>
                <xs:element name="personal-identification-number" minOccurs="1" maxOccurs="1"
                            type="personal-identification-number">
                    <xs:annotation>
                        <xs:documentation><![CDATA[
                            Refer to a signer by a personal identification number.
                            <p>
                            See also
                            <a href="https://www.skatteetaten.no/en/International-pages/Felles-innhold-benyttes-i-flere-malgrupper/Articles/Norwegian-national-ID-numbers/">
                                https://www.skatteetaten.no/en/International-pages/Felles-innhold-benyttes-i-flere-malgrupper/Articles/Norwegian-national-ID-numbers/
                            </a>.
                            </p>
                        ]]></xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="signer-identifier" minOccurs="1" maxOccurs="1"
                            type="signer-identifier">
                    <xs:annotation>
                        <xs:documentation>
                            Refer to a signer using a custom identifier string. This string can be any ID recognized
                            by the sender, and must uniquely identify the signer within a job.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="signature-type" type="signature-type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="on-behalf-of" type="signing-on-behalf-of" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="direct-document">
        <xs:sequence>
            <xs:element name="title" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="description" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="220"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="href" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="4"/>
                    <xs:maxLength value="100"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="mime" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="100"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:element name="direct-signature-job-request">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>Contains metadata related to a signature job</xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element name="reference" minOccurs="0" maxOccurs="1" type="signature-job-reference"/>
                <xs:element name="exit-urls" minOccurs="1" maxOccurs="1" type="exit-urls" />
                <xs:element name="status-retrieval-method" minOccurs="0" maxOccurs="1" type="status-retrieval-method">
                    <xs:annotation>
                        <xs:documentation>
Indicates the method of which the sender will retrieve a job's status upon a status change by specifying one of:

    * WAIT_FOR_CALLBACK
        Querying the job's status explicitly using the query parameter appended
        to the exit-URL after e.g. a signer have completed the job
    * POLLING
        Continuously polling the service, receiving a response every time one of the
        sender's jobs has had its status changed.

Defaults to WAIT_FOR_CALLBACK if omitted.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="polling-queue" minOccurs="0" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
Specifies the queue that status changes for this signature job will occur in. This is a feature aimed at organizations where
it makes sense to retrieve status changes from several queues. This may be if the organization has more than one division,
and each division has an application that create signature jobs through the API and want to retrieve status changes
independent of the other division's actions.

For example, if the polling-queue element is set to 'custom-queue', status changes related to this signature job can only
be retrieved by setting the query parameter 'polling_queue' to 'custom-queue' on the request. If the polling-queue element is not
specified, the job status changes will be available on the default queue. No query parameter is required to obtain status changes
for the default queue.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="direct-signature-job-manifest">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>Contains metadata related to a document in a signature job</xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element name="signer" minOccurs="1" maxOccurs="10" type="direct-signer" />
                <xs:element name="sender" minOccurs="1" maxOccurs="1" type="sender"/>
                <xs:element name="document" minOccurs="1" maxOccurs="1" type="direct-document"/>
                <xs:element name="required-authentication" type="authentication-level" minOccurs="0" maxOccurs="1" />
                <xs:element name="identifier-in-signed-documents" minOccurs="0" type="identifier-in-signed-documents"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:complexType name="exit-urls">
        <xs:sequence>
            <xs:element name="completion-url" minOccurs="1" maxOccurs="1" type="url"/>
            <xs:element name="rejection-url" minOccurs="1" maxOccurs="1" type="url"/>
            <xs:element name="error-url" minOccurs="1" maxOccurs="1" type="url"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="status-retrieval-method">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WAIT_FOR_CALLBACK"/>
            <xs:enumeration value="POLLING"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:element name="direct-signature-job-response" type="direct-signature-job-response" />

    <xs:complexType name="direct-signature-job-response">
        <xs:sequence>
            <xs:element name="reference" minOccurs="0" maxOccurs="1" type="signature-job-reference"/>
            <xs:element name="signature-job-id" minOccurs="1" maxOccurs="1" type="signature-job-id"/>
            <xs:element name="redirect-url" minOccurs="1" maxOccurs="10" type="signer-specific-url" >
                <xs:annotation>
                    <xs:documentation>DEPRECATED. Redirect-URL is part of each signer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="status-url" minOccurs="0" maxOccurs="1" type="url" />
            <xs:element name="signer" minOccurs="1" maxOccurs="10" type="direct-signer-response" />
        </xs:sequence>
    </xs:complexType>


    <xs:element name="direct-signer-response" type="direct-signer-response" />

    <xs:complexType name="direct-signer-response">
        <xs:complexContent>
            <xs:extension base="accessible-by-url">
                <xs:sequence>
                    <xs:choice>
                        <xs:element name="signer-identifier" minOccurs="1" maxOccurs="1"
                                    type="signer-identifier" />
                        <xs:element name="personal-identification-number" minOccurs="1" maxOccurs="1"
                                    type="personal-identification-number" />
                    </xs:choice>
                    <xs:element name="redirect-url" type="url" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                The signer's browser should be redirected here to sign the document. This URL can only
                                be used once, and a request for a new URL must be made to for instance retry a failing
                                document signing.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="direct-signer-update-request">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="redirect-url" minOccurs="1" maxOccurs="1" type="empty-element">
                    <xs:annotation>
                        <xs:documentation>The presence of this element specifies you want to update the redirect-url for the signer.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="signer-specific-url">
        <xs:simpleContent>
            <xs:extension base="url">
                <xs:attribute name="signer" type="xs:string" use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:element name="direct-signature-job-status-response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reference" minOccurs="0" maxOccurs="1" type="signature-job-reference"/>
                <xs:element name="signature-job-id" minOccurs="1" maxOccurs="1" type="signature-job-id"/>
                <xs:element name="signature-job-status" minOccurs="1" maxOccurs="1" type="direct-signature-job-status"/>
                <xs:element name="status" minOccurs="1" maxOccurs="10" type="signer-status"/>
                <xs:element name="confirmation-url" minOccurs="0" maxOccurs="1" type="url" >
                    <xs:annotation>
                        <xs:documentation>
If a confirmation url is included in the response, the client is required to POST an empty
request to this url to confirm that the status has been received, and proper actions has been
taken by the client as a result of the particular status. A typical example being when the client
gets a 'signed' status, the client should download the signed documents, and finally confirm the
received status using this url.

If the status is retrieved using the POLLING method, failing to confirm the
received response may cause subsequent statuses for the same job to be reported as "changed", even
though the status has not changed.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="delete-documents-url" minOccurs="0" maxOccurs="1" type="url"/>
                <xs:element name="xades-url" minOccurs="0" maxOccurs="10" type="signer-specific-url"/>
                <xs:element name="pades-url" minOccurs="0" maxOccurs="1" type="url"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="signer-status">
        <xs:simpleContent>
            <xs:extension base="direct-signer-status-value">
                <xs:attribute name="signer" type="xs:string" />
                <xs:attribute name="since" type="xs:dateTime" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="direct-signer-status-value">
        <xs:restriction base="xs:string" >
            <xs:annotation>
                <xs:documentation>
Textual field which describes the signer status. Note that this field might contain new, unknown statuses in the future.
Clients should use the direct-signature-job-status element for getting the status of the entire job. Unknown signer status should be logged for later review and ignored at runtime.

Currently known values:
    * WAITING
        The signer has not yet signed the document.
    * REJECTED
        The user decided to reject to sign the document, and has been redirected to the rejection-url provided in the direct-signature-job-request's exit-urls.
    * EXPIRED
        The user didn't sign the document before the job expired.
    * FAILED
        An unexpected error occured during the signing ceremony, and the user has been redirected to the error-url provided in the direct-signature-job-request's exit-urls.
    * SIGNED
        The document has been signed, and the signer has been redirected to the completion-url provided in the direct-signature-job-request's exit-urls.
        The signed document artifacts can be downloaded by following the appropriate urls in the direct-signature-job-status-response.
    * SIGNERS_NAME_NOT_AVAILABLE
        Indicates that the service was unable to retrieve the signer's name. This might happen because the lookup service is unavailable at the time of signing,
        but the name can also be unavailable permanently. Senders may choose to try re-creating this signature job.
        Only applicable for authenticated signatures where the sender requires signed documents to contain name as the signer's identifier.
    * NOT_APPLICABLE
        The job has reached a state where the status of this signature is not applicable.
        This includes (but is not limited to) the case where a signer rejects to sign, and thus ending the job in a failed state.
        Any remaining (previously WAITING) signatures are marked as NOT_APPLICABLE.
                </xs:documentation>
            </xs:annotation>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="direct-signature-job-status">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IN_PROGRESS">
                <xs:annotation>
                    <xs:documentation>
At least one signer has not yet performed any action to the document.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COMPLETED_SUCCESSFULLY">
                <xs:annotation>
                    <xs:documentation>
All signers have successfully signed the document.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FAILED">
                <xs:annotation>
                    <xs:documentation>
All signers have performed an action to the document, but at least one have a non successful status (e.g. rejected, expired or failed).
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
